<div class="cont-<%=message.user.id%>">
<div class="message-box msg-<%= message.user.id%>">
<div class = 'd-flex align-item-center'>
<%= image_tag(message.user.chat_avatar, class:"rounded-circle", width: "50px", height: "50px")%>

<div>
<h6 class = "name"><%=message.user.username%><h6>
<p class = "time"><%= time_ago_in_words(message.created_at) %> ago </p>
</div>
</div>
<em>text: <%= message.body%></em>
</div>
</div>