
<% if current_user %>
<h3 class = "text-center main-text"> <%= current_user.username%>' s Profile</h3><br>

<div class = "text-center"><%= image_tag(current_user.avatar_thumbnail) %></div><br>
<div class = "text-center">
<%= link_to "Edit Account", edit_user_registration_path ,  class: "btn btn-outline-dark"%>
</div><br>
<div class = "text-center">
<%= button_to "Logout", destroy_user_session_path , method: :delete,  class: "btn btn-dark"%>
</div>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path%>
<% end %>
