<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
   <%=link_to "Chat App", root_path, class:"navbar-brand style-nav" %>
 <%= link_to "Start Chatting", rooms_path , class:"navbar-brand style-nav bi bi-chat" %>


<li class="navbar navbar-brand nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style= "color: white" >
            User Side
          </a>
          <ul class="dropdown-menu">
           <% if user_signed_in? %>
          <li> <%= button_to "Logout", destroy_user_session_path , method: :delete,  class: "dropdown-item"%></li>
          <%else%>
          <li> <%=link_to "Sign in", new_user_session_path, class:"dropdown-item" %></li>
          <li> <%=link_to "Sign up", new_user_registration_path, class:"dropdown-item" %></li>
           <%end%>
            
          </ul>
        </li>
  </nav>
</div>