<div class= "container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4 ">
          <div class="card text-center shadow mb-5  bg-white rounded">
<h2 class = "main-text">Edit <%= current_user.username %>' s Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="card-body">
<%if resource.avatar.attached?%>
<%= image_tag(resource.avatar_thumbnail)%>
<%else%>
<%=image('/assets/default_profile.jpg', style: 'width:50px; height: 50px;') %>
<%end%>


</div>

<div class="card-body">
  <%= f.file_field :avatar, class:"form-control form-control-lg"%>
</div>
 <div class="card-body">
    <strong><%= f.label :username %>:</strong><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control"  %>
  </div>
  <div class="card-body">
    <strong><%= f.label :email %>:</strong><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="card-body">
    <strong><%= f.label :password %></strong> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
    
  </div>

  <div class="card-body">
    <strong><%= f.label :password_confirmation %></strong><% if @minimum_password_length %>
    
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
  </div>

  <div class="card-body">
    <strong><%= f.label :current_password %></strong> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="card-body">
    <%= f.submit "Update", class: "btn btn-dark" %>
  </div>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-danger"%></p>

<%= link_to "Back Your To Profile", :back, class: "btn btn-outline-dark" %>

</div>
    </div>
    </div>
  </div>
